.App {
  text-align: center;
}
.output-stderr {
  width: 100%;
  color: #3d0202;
  background-color: rgb(227, 131, 131);
  padding: 5px 10px;
  margin: 10px 5px;
  margin-left: -10px;
}

.output-stdout {
  width: 100%;
  color: rgb(26, 65, 32);
  background-color: #ace1af;
  padding: 5px 10px;
  margin: 10px 5px;
  margin-left: -10px;
}

.editor {
  width: 80%;
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
}

.run-info {
  border: 1px solid #d5d5d5;
  width: 70%;
  margin-top: 7px;
  background: #f8f9fa;
}

.run-details-info {
  margin-right: 2%;
  padding: 10px;
}

.run-details {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  padding: 20px;
  background: #f8f9fa;
}

.run-output {
  padding: 15px 30px 30px 30px;
  border-top: 1px solid #d5d5d5;
  background: #ffffff;
}

.run-output-info .key {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-align: left;
}

button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 15px;
  /* padding-bottom: 9px; */
  width: 110px;
  color: #eee;
  background-color: rgb(61, 61, 61);
  outline: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.files {
  position: relative;
  left: 35%;
  margin-top: -25px;
}
.select-style {
  padding: 0;
  margin-right: 69%;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}
.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}
.select-style select:focus {
  outline: none;
}
h6 {
  display: none;
}

div {
  display: block;
}

.input {
  padding: 10px;
  margin: 0px 5px;
  margin-left: -10px;
  width: 100%;
  border: 1px solid #f8f9fa;
  background-color: rgb(248, 245, 245);
}

body {
  background-color: rgb(241, 241, 231);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  body {
    background-image: url("../public/desktop.jpg");
    border-radius: solid white;
    background-color: #ffffff; /* Used if the image is unavailable */
    height: 700px; /* You must set a specified height */
    /* width: 200px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  div {
    display: block;
  }

  h1 {
    display: none;
  }
  p {
    display: none;
  }

  .run-info {
    display: none;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
}
